<page-layout [hideFooter]="true">
  <div toolbar>TOOLBAR CONTENT</div>
  <div left-panel-title>TITLE</div>
  <div left-panel size="md">LEFT PANEL CONTENT</div>
  <div content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
      ipsum orci, nec aliquet enim tristique sit amet. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Aliquam erat volutpat. Fusce ultricies
      tempor mi, quis faucibus nulla. Praesent a purus orci. Donec sed iaculis
      mi. Curabitur et dui et sapien ullamcorper imperdiet vel eget eros. Mauris
      metus ex, convallis ut faucibus eu, interdum feugiat turpis. Fusce nisl
      ex, dignissim vitae libero sed, semper congue metus. Vivamus aliquet massa
      scelerisque, sodales urna ac, auctor lectus. Sed nec diam lectus. Sed
      vitae egestas dolor.
    </p>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Duis placerat diam a nulla sodales, ac ultricies neque
      pulvinar. Praesent tristique ipsum quis sem aliquet dictum. Aenean ut
      venenatis sapien. Mauris faucibus, purus ut sagittis congue, enim turpis
      ultrices lorem, id vestibulum erat orci vulputate diam. Curabitur suscipit
      tortor id vestibulum pretium. Nullam euismod augue a ex porttitor, blandit
      facilisis leo tempor. Maecenas sed arcu lobortis sem feugiat ultricies et
      eu augue. Nam et dolor quis tortor maximus aliquet sed ut nunc. Praesent
      imperdiet pharetra elit non egestas. Duis ante purus, dapibus ac euismod
      mollis, posuere quis arcu. Aenean hendrerit tempor ex, at tempus quam
      ultricies in. Morbi feugiat elit enim, id lacinia tellus faucibus in. Nam
      vitae lacinia arcu, quis lacinia ipsum. Aenean placerat dolor sapien, in
      dignissim urna efficitur congue. Proin vulputate eros at euismod varius.
    </p>
    <p>
      Suspendisse tincidunt quis turpis a iaculis. Vestibulum eu gravida ante,
      sed consectetur massa. Pellentesque a rhoncus tellus. Vestibulum iaculis
      efficitur ultricies. Mauris venenatis vulputate mauris at accumsan. Duis
      risus augue, ultrices et egestas ultrices, maximus auctor metus.
      Vestibulum quis molestie metus, quis ornare magna. Nulla scelerisque,
      turpis ac auctor tristique, ante quam luctus nibh, sit amet suscipit nisl
      augue in risus. Fusce iaculis dui aliquet elit mollis pellentesque.
    </p>
    <p>
      Nulla nec mi pulvinar, finibus augue vel, sodales justo. Nam condimentum
      enim sed risus fermentum, quis laoreet arcu lobortis. Fusce vitae magna
      eget erat lacinia aliquam. Nunc vel lectus ut ante placerat porta. Aenean
      hendrerit enim quam, in venenatis nisl porta ut. Aliquam tincidunt pretium
      interdum. Vivamus semper purus vitae sapien blandit, sed dignissim lorem
      feugiat. Curabitur tellus quam, vulputate at accumsan sit amet, feugiat
      sit amet erat. Integer dignissim est sed mollis viverra. Praesent dictum,
      risus sed accumsan lobortis, tortor turpis tempus orci, sed viverra ante
      est ut nisl. Integer ut turpis id neque ornare tristique. Donec sed
      aliquam enim.
    </p>
    <p>
      Sed porta iaculis mi, eu suscipit enim dictum nec. Aliquam non mauris
      nisl. Phasellus venenatis ligula ut nisl iaculis congue. Sed metus nisl,
      ullamcorper vitae massa ut, facilisis pharetra orci. Morbi at dictum erat,
      in ultrices quam. In ac elit a justo efficitur aliquam a ut velit.
      Maecenas ut diam viverra diam eleifend sodales id vel odio. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut eget eros odio. Proin nisi urna, facilisis egestas placerat
      vitae, viverra pretium elit. Cras in suscipit mi, mollis placerat nisi.
      Sed eros nunc, condimentum vel mi vitae, semper varius quam. Donec cursus
      tempus mauris ac facilisis. Etiam vel malesuada nulla. Aliquam nec dui
      neque. Proin faucibus sapien a urna imperdiet, ut ultrices lacus
      hendrerit. Aenean ac aliquet arcu, vitae pretium ligula. Fusce tristique,
      mi a semper congue, diam odio laoreet est, et imperdiet risus massa ut
      quam. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Integer eu nunc vel orci euismod egestas. Nam
      tincidunt purus ut felis rhoncus, et ornare libero sagittis. Etiam euismod
      venenatis ipsum. Nam lacinia leo sed vehicula volutpat. Nulla blandit
      tortor mauris, sit amet elementum velit accumsan sit amet. Aenean ac nisl
      lacinia, sollicitudin lacus auctor, auctor tortor. Aliquam et neque in
      massa pretium laoreet at eu eros. Nulla et ex sed odio iaculis elementum
      id at magna. Nulla neque mauris, sagittis sed justo a, varius malesuada
      felis. Donec mattis lobortis tincidunt.
    </p>
    <p>
      Sed porta iaculis mi, eu suscipit enim dictum nec. Aliquam non mauris
      nisl. Phasellus venenatis ligula ut nisl iaculis congue. Sed metus nisl,
      ullamcorper vitae massa ut, facilisis pharetra orci. Morbi at dictum erat,
      in ultrices quam. In ac elit a justo efficitur aliquam a ut velit.
      Maecenas ut diam viverra diam eleifend sodales id vel odio. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut eget eros odio. Proin nisi urna, facilisis egestas placerat
      vitae, viverra pretium elit. Cras in suscipit mi, mollis placerat nisi.
      Sed eros nunc, condimentum vel mi vitae, semper varius quam. Donec cursus
      tempus mauris ac facilisis. Etiam vel malesuada nulla. Aliquam nec dui
      neque. Proin faucibus sapien a urna imperdiet, ut ultrices lacus
      hendrerit. Aenean ac aliquet arcu, vitae pretium ligula. Fusce tristique,
      mi a semper congue, diam odio laoreet est, et imperdiet risus massa ut
      quam. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Integer eu nunc vel orci euismod egestas. Nam
      tincidunt purus ut felis rhoncus, et ornare libero sagittis. Etiam euismod
      venenatis ipsum. Nam lacinia leo sed vehicula volutpat. Nulla blandit
      tortor mauris, sit amet elementum velit accumsan sit amet. Aenean ac nisl
      lacinia, sollicitudin lacus auctor, auctor tortor. Aliquam et neque in
      massa pretium laoreet at eu eros. Nulla et ex sed odio iaculis elementum
      id at magna. Nulla neque mauris, sagittis sed justo a, varius malesuada
      felis. Donec mattis lobortis tincidunt.
    </p>
    <p>
      Sed porta iaculis mi, eu suscipit enim dictum nec. Aliquam non mauris
      nisl. Phasellus venenatis ligula ut nisl iaculis congue. Sed metus nisl,
      ullamcorper vitae massa ut, facilisis pharetra orci. Morbi at dictum erat,
      in ultrices quam. In ac elit a justo efficitur aliquam a ut velit.
      Maecenas ut diam viverra diam eleifend sodales id vel odio. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut eget eros odio. Proin nisi urna, facilisis egestas placerat
      vitae, viverra pretium elit. Cras in suscipit mi, mollis placerat nisi.
      Sed eros nunc, condimentum vel mi vitae, semper varius quam. Donec cursus
      tempus mauris ac facilisis. Etiam vel malesuada nulla. Aliquam nec dui
      neque. Proin faucibus sapien a urna imperdiet, ut ultrices lacus
      hendrerit. Aenean ac aliquet arcu, vitae pretium ligula. Fusce tristique,
      mi a semper congue, diam odio laoreet est, et imperdiet risus massa ut
      quam. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Integer eu nunc vel orci euismod egestas. Nam
      tincidunt purus ut felis rhoncus, et ornare libero sagittis. Etiam euismod
      venenatis ipsum. Nam lacinia leo sed vehicula volutpat. Nulla blandit
      tortor mauris, sit amet elementum velit accumsan sit amet. Aenean ac nisl
      lacinia, sollicitudin lacus auctor, auctor tortor. Aliquam et neque in
      massa pretium laoreet at eu eros. Nulla et ex sed odio iaculis elementum
      id at magna. Nulla neque mauris, sagittis sed justo a, varius malesuada
      felis. Donec mattis lobortis tincidunt.
    </p>
    <p>
      Sed porta iaculis mi, eu suscipit enim dictum nec. Aliquam non mauris
      nisl. Phasellus venenatis ligula ut nisl iaculis congue. Sed metus nisl,
      ullamcorper vitae massa ut, facilisis pharetra orci. Morbi at dictum erat,
      in ultrices quam. In ac elit a justo efficitur aliquam a ut velit.
      Maecenas ut diam viverra diam eleifend sodales id vel odio. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut eget eros odio. Proin nisi urna, facilisis egestas placerat
      vitae, viverra pretium elit. Cras in suscipit mi, mollis placerat nisi.
      Sed eros nunc, condimentum vel mi vitae, semper varius quam. Donec cursus
      tempus mauris ac facilisis. Etiam vel malesuada nulla. Aliquam nec dui
      neque. Proin faucibus sapien a urna imperdiet, ut ultrices lacus
      hendrerit. Aenean ac aliquet arcu, vitae pretium ligula. Fusce tristique,
      mi a semper congue, diam odio laoreet est, et imperdiet risus massa ut
      quam. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Integer eu nunc vel orci euismod egestas. Nam
      tincidunt purus ut felis rhoncus, et ornare libero sagittis. Etiam euismod
      venenatis ipsum. Nam lacinia leo sed vehicula volutpat. Nulla blandit
      tortor mauris, sit amet elementum velit accumsan sit amet. Aenean ac nisl
      lacinia, sollicitudin lacus auctor, auctor tortor. Aliquam et neque in
      massa pretium laoreet at eu eros. Nulla et ex sed odio iaculis elementum
      id at magna. Nulla neque mauris, sagittis sed justo a, varius malesuada
      felis. Donec mattis lobortis tincidunt.
    </p>
    <p>
      Sed porta iaculis mi, eu suscipit enim dictum nec. Aliquam non mauris
      nisl. Phasellus venenatis ligula ut nisl iaculis congue. Sed metus nisl,
      ullamcorper vitae massa ut, facilisis pharetra orci. Morbi at dictum erat,
      in ultrices quam. In ac elit a justo efficitur aliquam a ut velit.
      Maecenas ut diam viverra diam eleifend sodales id vel odio. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Ut eget eros odio. Proin nisi urna, facilisis egestas placerat
      vitae, viverra pretium elit. Cras in suscipit mi, mollis placerat nisi.
      Sed eros nunc, condimentum vel mi vitae, semper varius quam. Donec cursus
      tempus mauris ac facilisis. Etiam vel malesuada nulla. Aliquam nec dui
      neque. Proin faucibus sapien a urna imperdiet, ut ultrices lacus
      hendrerit. Aenean ac aliquet arcu, vitae pretium ligula. Fusce tristique,
      mi a semper congue, diam odio laoreet est, et imperdiet risus massa ut
      quam. Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas. Integer eu nunc vel orci euismod egestas. Nam
      tincidunt purus ut felis rhoncus, et ornare libero sagittis. Etiam euismod
      venenatis ipsum. Nam lacinia leo sed vehicula volutpat. Nulla blandit
      tortor mauris, sit amet elementum velit accumsan sit amet. Aenean ac nisl
      lacinia, sollicitudin lacus auctor, auctor tortor. Aliquam et neque in
      massa pretium laoreet at eu eros. Nulla et ex sed odio iaculis elementum
      id at magna. Nulla neque mauris, sagittis sed justo a, varius malesuada
      felis. Donec mattis lobortis tincidunt.
    </p>
  </div>
  <div right-panel-title>TITLE</div>
  <div right-panel size="lg">RIGHT PANEL CONTENT</div>
</page-layout>
